.PratosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.PratoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

