.RestaurantesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.RestaurantesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}